<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8" />
    <title>Add User</title>
</head>
<body>
 
    <h1>Add User</h1>
    <form method="post" action="/process/addUser">
        <table>
            <tr>
                <td><label>ID : </label></td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td><label>PW : </label></td>
                <td><input type="text" name="passwords"></td>
            </tr>
 
            <tr>
                <td><label>name : </label></td>
                <td><input type="text" name="name"></td>
            </tr>
 
            <tr>
                <td><label>age : </label></td>
                <td><input type="text" name="age"></td>
            </tr>
 
            <tr>
                <td><input type="submit" value="Sumit" name=""></td>
                <td><input type="button" value="Login" onclick="location.href='/Login2.html'"></td>
            </tr>
 
        </table>
 
    </form>
 
</body>
</html>


출처: https://3dmpengines.tistory.com/1881 [3DMP]