<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8" />
    <title>로그인</title>
	<link href="/login.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div id="login_wrapper"  style="display: inline-block; margin-top: auto; margin-bottom: auto;">
		<div id="header">
			<h1> login </h1>
		</div>

		<div id="container">
			<form method="post" action="./non_account_login">
				<div>
                    <div>
                        <label>비로그인 비밀번호 : </label>
                        <input type="password" name="non_ID_password">
                    </div>
                    <input type="submit" value="로그인" name="">
                </div>
			</form>
            <div>
                <div><input style="border: 1px solid gold; float: left; width: 50%;" type="button" value="회원가입" onclick="location.href='./adduser.html'"></div>
            </div>	 
	

		</div>

		<div id="footer">
		</div>
		</div>
	</div>
    
        
 
    </form>
 
</body>
</html>
